body{
  background-color: #99CCFF;
  margin-left: 30px;
  margin-top: 30px;
}

.completed-true {
  text-decoration: line-through;
  color: grey;
}

.user-entry{
  margin-top: 25px;
    margin-bottom: 25px;
}

.table{
width: 50%;
margin-top: 25px;
}

.col-done {
  width: 5%;
}

.col-task {
  width: 40%;
}

.col-remove {
  width: 5%;
}
